html {
    scroll-behavior: smooth;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    /* max-width: 50%; */
    margin: 0px 200px;
    height: 40%;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 41px;
    /* text-align: center; */
    margin-bottom: 50px;
}

.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 22px;
    /* text-align: center; */
}

img{
    position: absolute;
    right: -200;
    z-index: -1;
    top: 0;
}