.content{
    /* background-color: yellow; */
    position: absolute;
    left: 242px;
    display: flex;
    flex-direction: column;
    gap: 92px;
    height: 1500px;
}
.box{
    height: 200px;
    width: 200px;
    /* background-color: aqua; */
    border: 1px solid black;
    
}

.r1,.r2,.r3,.r4{
    display: flex;
    flex-direction: row;
    gap: 92px;
}